<!-- Start Slider -->
<div class="sliderr">
  <div class="modern-slider mslider-horizontal clearfix">
    <div class="mslider-view">
      <div class="mslider-pages">
        <div>
          <%= image_tag("big_ipad.png", :alt => "loccaf") %>
          <div class="mslider-labels">
            <div class="labele mslider-label2">Pefect Blog Layouts</div>
            <div class="labele mslider-label3">Unlimited Colors</div>
            <div class="labele mslider-label4">Content loaded before sidebar</div>
          </div>
        </div>
        <div>
          <img src="images/slides/modern1.jpg" alt="Image">
          <div class="mslider-labels">
            <div class="labele mslider-label2">Fully Rersponsive Design</div>
            <div class="labele mslider-label3">Awesome Sliders</div>
            <div class="labele mslider-label4">Seo Friendly and Validdated Files</div>
          </div>
        </div>
        <div>
          <img src="images/slides/modern2.jpg" alt="Image">
          <div class="mslider-labels">
            <div class="labele mslider-label2">Perfect For Corporate Sites</div>
            <div class="labele mslider-label3">Pages Loaded Fast</div>
            <div class="labele mslider-label4">This is Last Feature</div>
          </div>
        </div>
      </div>
    </div>
    <div class="mslider-controls">
      <div class="mslider-arrow mslider-prev"><i class="icon-angle-left"></i></div>
      <div class="mslider-arrow mslider-next"><i class="icon-angle-right"></i></div>
    </div>
  </div>
</div>
<!-- End Slider -->

<div class="page-content">
  <div class="row clearfix mbs animated" data-gen="fadeInUp">
    <div class="action-simple">
      <h2>Welcome to Light Of Christ Community Alumni Fellowship</h2>
      <h5>All power in Your hands with fully responsive and Flexible Official Template!</h5>
    </div><!-- simple action -->
  </div><!-- row -->

  <div class="grey-line mbs">
    <div class="row clearfix animated" data-gen="flash">
      <h3 class="col-title"> Latest Works </h3><span class="liner"></span>
      <div class="portfolio-carousel">
        <div class="anyClass">
          <ul>
            <li>
              <div class="hover-fx">
                <img src="images/assets/portfolio-thumb1.jpg" alt="#" width="250" height="180">
                <a class="fLeft" href="portfolio-single-wide-slider.html"><span><i class="icon-link"></i></span></a>
                <a class="fRight" href="images/assets/portfolio-thumb1.jpg" data-gal="lightbox[portfolio]"><span><i class="icon-eye-open"></i></span></a>
              </div>
              <div class="detailes">
                <h5> <a href="#">Sed ut perspiciatis unde</a> </h5>
                <a href="#">3D Model</a>, <a href="#">Photography</a>
              </div>
            </li><!-- portfolio item -->

            <li>
              <div class="hover-fx">
                <img src="images/assets/portfolio-thumb2.jpg" alt="#" width="250" height="180">
                <a class="fLeft" href="portfolio-single-wide-slider.html"><span><i class="icon-link"></i></span></a>
                <a class="fRight" href="http://www.youtube.com/watch?v=R2csMX0Oj40?width=640" data-gal="lightbox" title="Video Lightbox"><span><i class="icon-facetime-video"></i></span></a>
              </div>
              <div class="detailes">
                <h5> <a href="#">At vero eos et accusamus</a> </h5>
                <a href="#">Web design</a>, <a href="#">Mockups</a>
              </div>
            </li><!-- portfolio item -->

            <li>
              <div class="hover-fx">
                <img src="images/assets/portfolio-thumb3.jpg" alt="#" width="250" height="180">
                <a class="fLeft" href="portfolio-single-wide-slider.html"><span><i class="icon-link"></i></span></a>
                <a class="fRight" href="images/assets/portfolio-thumb3.jpg" data-gal="lightbox[portfolio]"><span><i class="icon-eye-open"></i></span></a>
              </div>
              <div class="detailes">
                <h5> <a href="#">Quis autem vel eum iure</a> </h5>
                <a href="#">Mockup</a>, <a href="#">Print</a>
              </div>
            </li><!-- portfolio item -->

            <li>
              <div class="hover-fx">
                <img src="images/assets/portfolio-thumb4.jpg" alt="#" width="250" height="180">
                <a class="fLeft" href="portfolio-single-wide-slider.html"><span><i class="icon-link"></i></span></a>
                <a class="fRight" href="images/assets/portfolio-thumb4.jpg" data-gal="lightbox[portfolio]"><span><i class="icon-eye-open"></i></span></a>
              </div>
              <div class="detailes">
                <h5> <a href="#">Neque porro quisquam</a> </h5>
                <a href="#">Business</a>, <a href="#">Realistic</a>
              </div>
            </li><!-- portfolio item -->

            <li>
              <div class="hover-fx">
                <img src="images/assets/portfolio-thumb5.jpg" alt="#" width="250" height="180">
                <a class="fLeft" href="portfolio-single-wide-slider.html"><span><i class="icon-link"></i></span></a>
                <a class="fRight" href="http://www.youtube.com/watch?v=Qz4NcTnQedo?width=640" data-gal="lightbox" title="Video Lightbox"><span><i class="icon-facetime-video"></i></span></a>
              </div>
              <div class="detailes">
                <h5> <a href="#">Voluptate velit esse quam</a> </h5>
                <a href="#">Mockups</a>, <a href="#">Print Templates</a>
              </div>
            </li><!-- portfolio item -->

            <li>
              <div class="hover-fx">
                <img src="images/assets/portfolio-thumb6.jpg" alt="#" width="250" height="180">
                <a class="fLeft" href="portfolio-single-wide-slider.html"><span><i class="icon-link"></i></span></a>
                <a class="fRight" href="images/assets/portfolio-thumb6.jpg" data-gal="lightbox[portfolio]"><span><i class="icon-eye-open"></i></span></a>
              </div>
              <div class="detailes">
                <h5> <a href="#">At vero eos et accusamus</a> </h5>
                <a href="#">Web design</a>, <a href="#">Mockups</a>
              </div>
            </li><!-- portfolio item -->

            <li>
              <div class="hover-fx">
                <img src="images/assets/portfolio-thumb11.jpg" alt="#" width="250" height="180">
                <a class="fLeft" href="portfolio-single-wide-slider.html"><span><i class="icon-link"></i></span></a>
                <a class="fRight" href="images/assets/portfolio-thumb11.jpg" data-gal="lightbox[portfolio]"><span><i class="icon-eye-open"></i></span></a>
              </div>
              <div class="detailes">
                <h5> <a href="#">Quis autem vel eum iure</a> </h5>
                <a href="#">3D Model</a>, <a href="#">Photography</a>
              </div>
            </li><!-- portfolio item -->

            <li>
              <div class="hover-fx">
                <img src="images/assets/portfolio-thumb12.jpg" alt="#" width="250" height="180">
                <a class="fLeft" href="portfolio-single-wide-slider.html"><span><i class="icon-link"></i></span></a>
                <a class="fRight" href="images/assets/portfolio-thumb12.jpg" data-gal="lightbox[portfolio]"><span><i class="icon-eye-open"></i></span></a>
              </div>
              <div class="detailes">
                <h5> <a href="#">At vero eos et accusamus</a> </h5>
                <a href="#">3D Model</a>, <a href="#">Photography</a>
              </div>
            </li><!-- portfolio item -->
          </ul>
        </div>
        <div class="preve"><i class="icon-angle-left"></i></div><!-- portfolio carousel left -->
        <div class="nexte"><i class="icon-angle-right"></i></div><!-- portfolio carousel right -->
      </div><!-- portfolio carousel -->
    </div><!-- row -->
  </div><!-- grey line -->

  </div>