<!-- Start Slider -->
<div class="sliderr">
  <div class="modern-slider mslider-horizontal clearfix">
    <div class="mslider-view">
      <div class="mslider-pages">
        <div>
          <%= image_tag("convention2010.jpg", :alt => "loccaf") %>
          <div class="mslider-labels">
            <div class="labele mslider-label2">The Joy of LOCCAf</div>
            <div class="labele mslider-label3">The Convention 2010</div>
            <div class="labele mslider-label4">Congress Presentation</div>
          </div>
        </div>
        <div>
          <%= image_tag( "slider2.jpg", :alt => "loccaf") %>
          <div class="mslider-labels">
            <div class="labele mslider-label2">How many smiling faces do you see ?</div>
            <div class="labele mslider-label3">Spot a familiar face</div>
            <div class="labele mslider-label4">The Beauty and love in Gathering in the Lord's name</div>
          </div>
        </div>
        <div>
          <%= image_tag("StAlbert.jpg", :alt => "loccaf") %>
          <div class="mslider-labels">
            <div class="labele mslider-label2">Where it all began ?</div>
            <div class="labele mslider-label3">The Origin and Household of Loccaf</div>
            <div class="labele mslider-label4">The Ministry of Man governed by Christ</div>
          </div>
        </div>
      </div>
    </div>
    <div class="mslider-controls">
      <div class="mslider-arrow mslider-prev"><i class="icon-angle-left"></i></div>
      <div class="mslider-arrow mslider-next"><i class="icon-angle-right"></i></div>
    </div>
  </div>
</div>
<!-- End Slider -->

<div class="page-content">
  <div class="row clearfix mbs animated" data-gen="fadeInUp">
    <div class="action-simple">
      <h2>Welcome to Light Of Christ Community Alumni Fellowship</h2>
      <h5>To be a loyal army of Christian students that God can count on to advance His kingdom among the student populace and beyond.</h5>
    </div><!-- simple action -->
  </div><!-- row -->

  <div class="row clearfix mbs">
    <div class="grid_12">
      <h3 class="col-title"> "WHO ARE WE ?" </h3><span class="liner"></span>

      <ul class="tabs">
        <li><a href="#t-1" class="active">LOCCAF VISION </a></li>
        <li><a href="#t-2">MISSION STATEMENTS</a></li>
        <li><a href="#t-3">LCC VISION</a></li>
        <li><a href="#t-4">LCC MISSION</a></li>
      </ul><!-- tabs -->

      <ul class="tabs-content">
        <li id="t-1" class="active">TO BECOME A GLORIOUS COMPANY OF CHRISTIAN INTELLECTUALS

          ENLIGHTENED IN MIND; LIBERATED IN SPIRIT

          BONDED BY LOVE

          CONTENDING EARNESTLY FOR THE FAITH ONCE DELIVERED TO US

          A PEOPLE WITHOUT BLEMISH, CHANGING THEIR WORLD
        </li><!-- tab content -->

        <li id="t-2"><p>1. We exist to support and facilitate the progress and welfare of the Light of Christ Community<br>

          2. To provide for her alumni a vibrant interdenominational fellowship characterized by brotherly love and unflinching fidelity to sound doctrine.</p>


        </li><!-- tab content -->

        <li id="t-3"> To be a loyal army of Christian students that God can count on to advance His kingdom among the student populace and beyond.</li><!-- tab content -->

        <li id="t-4">To win the student community to Christ through the preaching of the Gospel and exemplary character, deploying the medium of regular fellowship for the purposes of nurturing new converts and edifying existing members of the fellowship.

          To interact with, fellowship with and accept leadership from the LOCCAF</ul><!-- end tabs -->

    </div><!-- grid 9 -->
    </div>










  <div class="grey-line parallax mbs" data-stellar-background-ratio="0.9" style="background: url(app/assets/images/backgrounds/para1.jpg)">
    <div class="row clearfix">
      <h3 class="col-title"> FROM BLOG </h3><span class="liner"></span>
      <div class="portfolio-carousel">
        <div class="anyClass">
          <ul>
            <li>
              <div class="hover-fx">
                <img src="images/assets/portfolio-thumb1.jpg" alt="#" width="250" height="180">
                <a class="fLeft" href="portfolio-single-wide-slider.html"><span><i class="icon-link"></i></span></a>
                <a class="fRight" href="images/assets/portfolio-thumb1.jpg" data-gal="lightbox[portfolio]"><span><i class="icon-eye-open"></i></span></a>
              </div>
              <div class="detailes">
                <h5> <a href="#">Sed ut perspiciatis unde</a> </h5>
                <a href="#">3D Model</a>, <a href="#">Photography</a>
              </div>
            </li><!-- portfolio item -->

            <li>
              <div class="hover-fx">
                <img src="images/assets/portfolio-thumb2.jpg" alt="#" width="250" height="180">
                <a class="fLeft" href="portfolio-single-wide-slider.html"><span><i class="icon-link"></i></span></a>
                <a class="fRight" href="http://www.youtube.com/watch?v=R2csMX0Oj40?width=640" data-gal="lightbox" title="Video Lightbox"><span><i class="icon-facetime-video"></i></span></a>
              </div>
              <div class="detailes">
                <h5> <a href="#">At vero eos et accusamus</a> </h5>
                <a href="#">Web design</a>, <a href="#">Mockups</a>
              </div>
            </li><!-- portfolio item -->

            <li>
              <div class="hover-fx">
                <img src="images/assets/portfolio-thumb3.jpg" alt="#" width="250" height="180">
                <a class="fLeft" href="portfolio-single-wide-slider.html"><span><i class="icon-link"></i></span></a>
                <a class="fRight" href="images/assets/portfolio-thumb3.jpg" data-gal="lightbox[portfolio]"><span><i class="icon-eye-open"></i></span></a>
              </div>
              <div class="detailes">
                <h5> <a href="#">Quis autem vel eum iure</a> </h5>
                <a href="#">Mockup</a>, <a href="#">Print</a>
              </div>
            </li><!-- portfolio item -->

            <li>
              <div class="hover-fx">
                <img src="images/assets/portfolio-thumb4.jpg" alt="#" width="250" height="180">
                <a class="fLeft" href="portfolio-single-wide-slider.html"><span><i class="icon-link"></i></span></a>
                <a class="fRight" href="images/assets/portfolio-thumb4.jpg" data-gal="lightbox[portfolio]"><span><i class="icon-eye-open"></i></span></a>
              </div>
              <div class="detailes">
                <h5> <a href="#">Neque porro quisquam</a> </h5>
                <a href="#">Business</a>, <a href="#">Realistic</a>
              </div>
            </li><!-- portfolio item -->

            <li>
              <div class="hover-fx">
                <img src="images/assets/portfolio-thumb5.jpg" alt="#" width="250" height="180">
                <a class="fLeft" href="portfolio-single-wide-slider.html"><span><i class="icon-link"></i></span></a>
                <a class="fRight" href="http://www.youtube.com/watch?v=Qz4NcTnQedo?width=640" data-gal="lightbox" title="Video Lightbox"><span><i class="icon-facetime-video"></i></span></a>
              </div>
              <div class="detailes">
                <h5> <a href="#">Voluptate velit esse quam</a> </h5>
                <a href="#">Mockups</a>, <a href="#">Print Templates</a>
              </div>
            </li><!-- portfolio item -->

            <li>
              <div class="hover-fx">
                <img src="images/assets/portfolio-thumb6.jpg" alt="#" width="250" height="180">
                <a class="fLeft" href="portfolio-single-wide-slider.html"><span><i class="icon-link"></i></span></a>
                <a class="fRight" href="images/assets/portfolio-thumb6.jpg" data-gal="lightbox[portfolio]"><span><i class="icon-eye-open"></i></span></a>
              </div>
              <div class="detailes">
                <h5> <a href="#">At vero eos et accusamus</a> </h5>
                <a href="#">Web design</a>, <a href="#">Mockups</a>
              </div>
            </li><!-- portfolio item -->

            <li>
              <div class="hover-fx">
                <img src="images/assets/portfolio-thumb11.jpg" alt="#" width="250" height="180">
                <a class="fLeft" href="portfolio-single-wide-slider.html"><span><i class="icon-link"></i></span></a>
                <a class="fRight" href="images/assets/portfolio-thumb11.jpg" data-gal="lightbox[portfolio]"><span><i class="icon-eye-open"></i></span></a>
              </div>
              <div class="detailes">
                <h5> <a href="#">Quis autem vel eum iure</a> </h5>
                <a href="#">3D Model</a>, <a href="#">Photography</a>
              </div>
            </li><!-- portfolio item -->

            <li>
              <div class="hover-fx">
                <img src="images/assets/portfolio-thumb12.jpg" alt="#" width="250" height="180">
                <a class="fLeft" href="portfolio-single-wide-slider.html"><span><i class="icon-link"></i></span></a>
                <a class="fRight" href="images/assets/portfolio-thumb12.jpg" data-gal="lightbox[portfolio]"><span><i class="icon-eye-open"></i></span></a>
              </div>
              <div class="detailes">
                <h5> <a href="#">At vero eos et accusamus</a> </h5>
                <a href="#">3D Model</a>, <a href="#">Photography</a>
              </div>
            </li><!-- portfolio item -->
          </ul>
        </div>
        <div class="preve"><i class="icon-angle-left"></i></div><!-- portfolio carousel left -->
        <div class="nexte"><i class="icon-angle-right"></i></div><!-- portfolio carousel right -->
      </div><!-- portfolio carousel -->
    </div><!-- row -->
  </div><!-- grey line -->
  </div>