<!-- Start Slider -->
<div class="sliderr">
  <div class="modern-slider mslider-horizontal clearfix">
    <div class="mslider-view">
      <div class="mslider-pages">
        <div>
          <img src="images/slides/modern3.jpg" alt="Image">
          <div class="mslider-labels">
            <div class="labele mslider-label2">Pefect Blog Layouts</div>
            <div class="labele mslider-label3">Unlimited Colors</div>
            <div class="labele mslider-label4">Content loaded before sidebar</div>
          </div>
        </div>
        <div>
          <img src="images/slides/modern1.jpg" alt="Image">
          <div class="mslider-labels">
            <div class="labele mslider-label2">Fully Rersponsive Design</div>
            <div class="labele mslider-label3">Awesome Sliders</div>
            <div class="labele mslider-label4">Seo Friendly and Validdated Files</div>
          </div>
        </div>
        <div>
          <img src="images/slides/modern2.jpg" alt="Image">
          <div class="mslider-labels">
            <div class="labele mslider-label2">Perfect For Corporate Sites</div>
            <div class="labele mslider-label3">Pages Loaded Fast</div>
            <div class="labele mslider-label4">This is Last Feature</div>
          </div>
        </div>
      </div>
    </div>
    <div class="mslider-controls">
      <div class="mslider-arrow mslider-prev"><i class="icon-angle-left"></i></div>
      <div class="mslider-arrow mslider-next"><i class="icon-angle-right"></i></div>
    </div>
  </div>
</div>
<!-- End Slider -->

<div class="page-content">
  <div class="row clearfix mbs animated" data-gen="fadeInUp">
    <div class="action-simple">
      <h2>Welcome to Light Of Christ Community Alumni Fellowship</h2>
      <h5>All power in Your hands with fully responsive and Flexible Official Template!</h5>
    </div><!-- simple action -->
  </div><!-- row -->


  </div>