<footer id="footer" class="parallax" data-stellar-background-ratio="0.5" xmlns="http://www.w3.org/1999/html">
  <div class="row clearfix">
    <div class="grid_3 animated" data-gen="bounceIn">
      <h3 class="col-title"> Flickr PhotoStream </h3><span class="liner"></span>

      <div class="widget-content">
        <ul id="flickr-photos" class="flickr-photos"></ul>
      </div><!-- widget content -->
    </div><!-- grid 3 -->

    <div class="grid_6 animated" data-gen="bounceIn">
      <h3 class="col-title"> About Us </h3><span class="liner"></span>

      <img class="fll" src="images/assets/author-big.jpg" alt=""><p> TO BECOME A GLORIOUS COMPANY OF CHRISTIAN INTELLECTUALS

      ENLIGHTENED IN MIND; LIBERATED IN SPIRIT

      BONDED BY LOVE

      CONTENDING EARNESTLY FOR THE FAITH ONCE DELIVERED TO US

      A PEOPLE WITHOUT BLEMISH, CHANGING THEIR WORLD

      TRULY PERFECT IN CHRIST JESUS </br>

      <small> Eph 5:27: That he might present it to himself a glorious church, not having spot, or wrinkle, or any such thing; but that it should be holy and without blemish. </small>
       </br>
       </br>
      <small>Jude vs 3: Dear friends, although I have been eager to write to you about our common salvation, I now feel compelled instead to write to encourage you to contend earnestly for the faith that was once for all entrusted to the saints. </small>
      </br>
      <small>Col 1:28 He is the one we proclaim, admonishing and teaching everyone with all wisdom, so that we may present everyone fully mature in Christ.</small>
      </br>
      <small>Col 3:14 And over all these virtues put on love, which binds them all together in perfect unity. </small></p>
    </div><!-- grid 6 -->

    <div class="grid_3 animated" data-gen="bounceIn">
      <h3 class="col-title"> Contact Details </h3><span class="liner"></span>

      <div class="widget-content">
        <p>Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis.</p>
        <i class="icon-map-marker mi"></i><strong>Address:</strong> No 2744, Los Angeles, USA <hr>
        <i class="icon-phone mi"></i><strong>Phone:</strong> 001 (123) 55 65 558 <hr>
        <i class="icon-envelope-alt mi"></i><strong>Email:</strong> info@loccaf.com

        <div class="social circular without_border mtt">
          <a href="#" class="toptip" title="Linkedin"><i class="icon-linkedin"></i></a>
          <a href="#" class="toptip" title="Google Plus"><i class="icon-google-plus"></i></a>
          <a href="#" class="toptip" title="Facebook"><i class="icon-facebook"></i></a>
          <a href="#" class="toptip" title="Twitter"><i class="icon-twitter"></i></a>
        </div><!-- end social -->
      </div><!-- widget content -->
    </div><!-- grid 3 -->
  </div><!-- row -->

  <div class="footer-last row mtf clearfix">
    <span class="copyright">© 2016 Light Of Christ Community Alumni Fellowship </span>

    <div class="foot-menu social circular">
      <ul>
        <a href="#" class="toptip" title="Linkedin"><i class="icon-linkedin"></i></a>
        <a href="#" class="toptip" title="instagram"><i class="icon-instagram"></i></a>
        <a href="#" class="toptip" title="Google Plus"><i class="icon-google-plus"></i></a>
        <a href="#" class="toptip" title="Facebook"><i class="icon-facebook"></i></a>
        <a href="#" class="toptip" title="Twitter"><i class="icon-twitter"></i></a>
      </ul><!-- end links -->
    </div><!-- end foot menu -->

  </div><!-- end last footer -->

</footer><!-- end footer -->