<div class="grid_6">
  <h3 class="col-title"> I Have a Account </h3><span class="liner mbt"></span>
  <form method="post" id="login_form_official" action="#">
    <div class="clearfix">
      <input type="text" id="login_input" placeholder="Username or Email" class="righttip" title="Username or Email">
      <input type="password" id="login_input" placeholder="********" class="righttip" title="Password">
    </div>
    <input type="submit" id="login_button" value="Sign In"><span><a href="#">Lost Password?</a></span>
  </form>
</div>
