<% flash.each do |name, msg| %>
    <ul>
      <li><%= msg %></li>
    </ul>
<% end %>

<div class="notification-box notification-box-success">
  <p><i class="icon-ok"></i>Your Account Activated Successfully.</p>
  <a href="#" class="notification-close notification-close-success"><i class="icon-remove"></i></a>
</div>