<div class="grid_6">
  <h3 class="col-title"> Register </h3><span class="liner mbt"></span>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
  <form method="post" id="register_form_official" action="#">
    <div class="clearfix">
      <input type="text" id="register_input" placeholder="Username" class="righttip" title="Your Username">
      <input type="text" id="register_input" placeholder="Email" class="righttip" title="Your Email">
      <input type="text" id="register_input" placeholder="Re-Type Email" class="righttip" title="Re-Type Your Email">
      <input type="password" id="register_input" placeholder="********" class="righttip" title="Your Password">
      <input type="text" id="register_input" placeholder="5+4" class="righttip" title="Security Question">
    </div>
    <input type="submit" id="register_button" value="Register">
  </form>
</div>